*{
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.page-holder{
  border: 1px, solid, #000;
  width:80%;
  height:80vh;
}

h1{
  font-size: 2em;
  font-weight: 800;
  color: red;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
}

p{
  font-size: 1em;
  font-weight: 100;
  color: red;
  text-align: center;
  align-items: center;
}
