*{
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.page-holder{
  border: 5px, solid, blue;
  width:80%;
  height:80vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:50px;
}

h1{
  font-size: 4em;
  font-weight: 800;
  color: red;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  text-decoration: underline;
}

p{
  font-size: 2em;
  font-weight: 100;
  color: red;
  text-align: center;
  align-items: center;
}
