*{
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.page-holder{
  border: 15px, solid, rgba(1,1,1, 0.2);
  width:80%;
  height:95vh;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:50px;
  background-color: rgba(100,100,200,0.2);
  padding: 10px;
}

.line{
  width: 80%;
  border: 10px solid rgba(1,1,1,0.2);
  border-radius: 50%;
}

h1{
  font-size: 4em;
  font-weight: 800;
  color: red;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  text-decoration: underline;
}

p{
  font-size: 2em;
  font-weight: 100;
  color: red;
  text-align: center;
  align-items: center;
}
